@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<body>
    <h1 class="display-4">Welcome</h1>
    <p>MVC for Movie WebApp</p>
    <head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Image Example</title>
    </head>
    <img src="" alt="Description of image" width="500" height="300">
    
   
    </body>
    </div>
